<header class="header">
  <div class="header__bar row">
    <div class="user_nav grid-6">
      <a class="btn" href="/tweets">ホーム</a>
      <a class="post" href="#">ログイン</a>
      <a class="post" href="/tweets/new">投稿する</a>
    </div>
  </div>
</header>